/* Write your CSS here */
.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  background-size: cover;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.count-container {
  display: flex;
  justify-content: space-between;
}

.image-coin {
  width: 100px;
  height: 100px;
}
p {
  margin: 10px;
}
